<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Lorvex Focus</string>
	<key>CFBundleExecutable</key>
	<string>LorvexWatchComplication</string>
	<key>CFBundleIdentifier</key>
	<string>com.lorvex.apple.watchkitapp.widgets</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>de</string>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>it</string>
		<string>ja</string>
		<string>ko</string>
		<string>pl</string>
		<string>pt</string>
		<string>ru</string>
		<string>tr</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
	</array>
	<key>CFBundleName</key>
	<string>LorvexWatchComplication</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
